@{
	Layout = null;
}
<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width"/>
		<title>Index</title>
	</head>
	<body>
		<div>
			@ViewBag.Greeting World (from the view)
			<p>We're going to have an exciting party. <br/>
			   (То do: sell it better. Add pictures or something.)
			</p>
			<p></p>
			<a asp-action="RsvpForm">RSVP Now</a>  <!-- asp-action вспомогательная функции дескриптора, т.е. инструкця Razoг, которая будет выполнена, когда представление визуализируется 
			                                                       Штука для назначения действия на текст -->
		</div>
	</body>
</html>